<app-main-drawer [title]="'Liste de vos trajets. (' + trajetList?.length + ')'">
    <div id="main-content">

        <div class="list-bloc">
            <ul *ngIf="trajetList?.length">
                <ng-container *ngFor="let item of trajetList">
                    <li>
                        <div>
                            <mat-icon fontSet="material-symbols-rounded">mode_of_travel</mat-icon>
                            <span>{{ item.DepartCity + " - " + item.ArrivalCity}}</span>
                        </div>

                        <div class="vertical-separator"></div>

                        <div>
                            <mat-icon fontSet="material-symbols-rounded">schedule</mat-icon>
                            <span> {{ item.DepartureTime | date : 'dd/MM/yyyy hh:mm' }} </span>
                        </div>

                        <div class="vertical-separator"></div>

                        <div>
                            <mat-icon fontSet="material-symbols-rounded">payments</mat-icon>
                            <span> {{ item.Price + ' Francs CFA' }} </span>
                        </div>

                        <div class="vertical-separator"></div>

                        <div>
                            <mat-icon fontSet="material-symbols-rounded">person</mat-icon>
                            <span> {{ item.Employee?.FirstName }} </span>
                        </div>

                    </li>
                </ng-container>

            </ul>
            <div style="width: 70vw;margin: 30px auto;">
                <a [routerLink]="'new'" mat-flat-button color="primary">Ajouter un nouveau trajet</a>
            </div>
            <!-- <table *ngIf="trajetList?.length" mat-table [dataSource]="trajetList" class="mat-elevation-z1">
                <ng-container matColumnDef="ID">
                    <th mat-header-cell *matHeaderCellDef> No. </th>
                    <td mat-cell *matCellDef="let element"> {{element.ID}} </td>
                </ng-container>

                <ng-container matColumnDef="DepartCity">
                    <th mat-header-cell *matHeaderCellDef> Départ </th>
                    <td mat-cell *matCellDef="let element"> {{element.DepartCity}} </td>
                </ng-container>

                <ng-container matColumnDef="ArrivalCity">
                    <th mat-header-cell *matHeaderCellDef> Arrivée </th>
                    <td mat-cell *matCellDef="let element"> {{element.ArrivalCity}} </td>
                </ng-container>

                <ng-container matColumnDef="DepartureTime">
                    <th mat-header-cell *matHeaderCellDef> Heure de départ </th>
                    <td mat-cell *matCellDef="let element"> {{element.DepartureTime | date : 'dd/MM/yyyy hh:MM'}} </td>
                </ng-container>

                <ng-container matColumnDef="TransportType">
                    <th mat-header-cell *matHeaderCellDef> Moyen de transport </th>
                    <td mat-cell *matCellDef="let element"> {{element.TransportType}} </td>
                </ng-container>

                <tr mat-header-row
                    *matHeaderRowDef="['ID', 'DepartCity', 'ArrivalCity', 'DepartureTime', 'TransportType']"></tr>
                <tr mat-row
                    *matRowDef="let row; columns: ['ID', 'DepartCity', 'ArrivalCity', 'DepartureTime', 'TransportType'];">
                </tr>
            </table> -->
        </div>


        <div class="loading-bloc" *ngIf="loading">
            <img src="../../../assets/loading.gif" alt="loader" height="130px" width="120px" />
        </div>
    </div>
</app-main-drawer>