<app-main-drawer [title]="'Nouveau trajet.'">
    <div>
        <div class="bloc-edit">
            <mat-stepper [linear]="false" #stepper>
                <mat-step label="Villes" state="apartment">
                    <h2>Villes</h2>
                    <div class="form-content">
                        <div>
                            <mat-form-field appearance="outline">
                                <span matPrefix style="margin-right: 8px;">
                                    <mat-icon fontSet="material-symbols-rounded">edit_location_alt</mat-icon>
                                </span>
                                <mat-label>Ville de départ</mat-label>

                                <mat-select>
                                    <mat-option value="red">Yaoundé</mat-option>
                                    <mat-option value="green">Douala</mat-option>
                                    <mat-option value="blue">Garoua</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div>
                            <mat-form-field appearance="outline">
                                <span matPrefix style="margin-right: 8px;">
                                    <mat-icon fontSet="material-symbols-rounded">edit_location_alt</mat-icon>
                                </span>
                                <mat-label>Ville d'arrivée</mat-label>
                                <mat-select>
                                    <mat-option value="red">Yaoundé</mat-option>
                                    <mat-option value="green">Douala</mat-option>
                                    <mat-option value="blue">Garoua</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </mat-step>
                <mat-step label="Type programmation" state="edit-calendar">
                    <h2>Type programmation</h2>
                    <div class="form-content">
                        <div>
                            <mat-form-field appearance="outline">
                                <span matPrefix style="margin-right: 8px;">
                                    <mat-icon fontSet="material-symbols-rounded">edit_calendar</mat-icon>
                                </span>
                                <mat-label>Périodicité</mat-label>

                                <mat-select [(ngModel)]="mode">
                                    <mat-option value="journalier">Journalier</mat-option>
                                    <mat-option value="multi">Multiple</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                        <div *ngIf="mode">
                            <ng-container *ngIf="mode == 'journalier'">
                                <mat-form-field appearance="outline">
                                    <mat-label>Choisir une date</mat-label>
                                    <input matInput [matDatepicker]="picker">
                                    <mat-hint>MM/DD/YYYY</mat-hint>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                </mat-form-field>
                            </ng-container>

                            <ng-container *ngIf="mode == 'multi'">
                                <mat-form-field appearance="outline">
                                    <mat-label>Choisir une période</mat-label>
                                    <mat-date-range-input [rangePicker]="picker">
                                        <input matStartDate placeholder="Start date">
                                        <input matEndDate placeholder="End date">
                                    </mat-date-range-input>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-date-range-picker #picker></mat-date-range-picker>
                                </mat-form-field>

                            </ng-container>

                        </div>
                    </div>

                </mat-step>
                <mat-step label="Horaires" state="schedule">
                    <h2>Horaires</h2>

                    <div class="form-content">
                        <div class="d-flex">
                            <div>
                                <mat-slide-toggle color="primary">Appliquer à toutes les dates</mat-slide-toggle>
                            </div>
                            <div>
                                <mat-slide-toggle color="primary">Appliquer juste au week-end</mat-slide-toggle>
                            </div>
                        </div>
                        <div style="margin-top: 10px;">
                            <mat-form-field appearance="outline">
                                <input matInput type="time" placeholder="start date">
                            </mat-form-field>
                        </div>
                    </div>
                </mat-step>

                <mat-step label="Autre paramètre" state="settings">
                    <h2>Autre paramètre</h2>

                </mat-step>

            </mat-stepper>
            <div class="d-flex btn-validate">
                <button mat-flat-button color="primary" (click)="previous()">Précédent</button>
                <button mat-flat-button color="primary" (click)="next()">Suivant</button>
            </div>
            <!-- <div>
                <mat-form-field appearance="outline">
                    <mat-label>Ville de départ</mat-label>
                    <mat-select>
                        <mat-option value="red">Yaoundé</mat-option>
                        <mat-option value="green">Douala</mat-option>
                        <mat-option value="blue">Garoua</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <mat-label>Ville d'arrivée</mat-label>
                    <mat-select>
                        <mat-option value="red">Yaoundé</mat-option>
                        <mat-option value="green">Douala</mat-option>
                        <mat-option value="blue">Garoua</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

            <div>
                <mat-form-field appearance="outline">
                    <input matInput type="time" placeholder="start date">
                </mat-form-field>
            </div> -->


        </div>
    </div>


</app-main-drawer>