app-edit-trajet {
    hr {
        border-bottom: 1px solid rgb(45, 71, 110);
    }

    .d-flex {
        display: flex;
    }

    .bloc-edit {
        min-height: 40vh;
        max-width: 80%;
        //   border: 1px solid rgb(45, 71, 110);
        //border-radius: 20px;
        margin: 30px auto;
        padding: 50px;
        gap: 15px;

        mat-stepper {
            width: 100%;
            min-height: 60vh;

            .mat-horizontal-stepper-header-container {
                background-color: aliceblue;
                border: 1px solid rgb(45, 71, 110);
                border-radius: 10px;
                margin-bottom: 20px;
            }

            .mat-horizontal-content-container {
                text-align: center;
            }
        }

        .form-content {
            mat-form-field {
                min-width: 350px;
            }
        }

        .btn-validate {
            align-items: center;
            justify-content: center;
            gap: 20px;

            button {
                min-width: 200px;
                height: 40px;
            }
        }


    }

}